    <ul class="list-group list-group-horizontal" *ngFor="let product of products;">
        <li class="list-group-item">{{product.id}}</li>
        <li class="list-group-item">{{product.name}}</li>
        <li class="list-group-item">{{product.price}}</li>
        <li class="list-group-item">{{product.counterCart}}</li>
        <button (click)="toggleCartPlus(product)" type="button" class="btn btn-info">Añadir</button>
        <button (click)="toggleCartLess(product)" type="button" class="btn btn-info">Eliminar</button>
    </ul>
