<header>
    <h1>home</h1>
</header>

<!-- <section class="p-2" *ngFor="let product of products;">
    <div class="row p-2">
        <div class="col-md-4">{{product.id}}</div>
        <div class="col-md-4">{{product.name}}</div>
        <div class="col-md-4">{{product.price}}</div>
        <button (click)="toggleCart(product)">Añadir</button>
    </div> -->

    <div class="card" style="width: 18rem;" *ngFor="let product of products;">
        <img src="{{product.image}}" class="card-img-top" alt="...">
        <div class="card-body  align-middle">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.price}}</p>
            <button (click)="toggleCartPlus(product)" type="button" class="btn btn-info">Añadir</button>
        </div>
    </div>
    
<!-- </section> -->

<button  (click)= "goToCart()">cart</button>







